<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , shrink-to-fit=no"">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="css/Home.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
      *{
        font-family: 'Noto Sans JP', sans-serif;
      }
    </style>
</head>
<body>

    <section>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="logo"><img src="images/image0.png" alt="logo" width="65" height="50"></div>
            <a class="navbar-brand" href="#"> </a>
            <a class="navbar-brand" href="#">Hall of Fame</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/disc">Disclaimer</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/About">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/tc">T&C</a>
                </li>
              </ul>
            </div>
        </nav>
    </section>

    <section>
        <div class="container-fluid">
            <h1 class="text-center text-capitalize pt-5 color="blue"">Know About Our Team</h1>
            <hr class="w-25 mx-auto pt-5">
        </div>
        <br>
        <br>
    </section>

    <div class="container-fluid p-O" id="div1">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-2">
                <img src="images/image4.jpg" class="Ashish" alt="Ashish" width="auto" height="auto">
            </div>
            <div class="col-3">
                <br>
                <a href="https://www.linkedin.com/in/ashish-dudhe-a109141b3">Ashish Dudhe</a>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-2">
                <img src="images/image5.jpg" class="Aditya" alt="Aditya" width="auto" height="auto">
            </div>
            <div class="col-3">
                <br>
                <a href="https://www.linkedin.com/in/aditya-taware-6178401b6">Aditya Taware</a>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-2">
                <img src="images/image6.jpg" class="Vishal" alt="Vishal" width="auto" height="auto">
            </div>
            <div class="col-3">
                <br>
                <a href="https://www.linkedin.com/in/vishal-rashinkar-2454781b5">Vishal Rashinkar</a>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-2">
                <img src="images/image7.jpg" class="Kunal" alt="Kunal" width="auto" height="auto">
            </div>
            <div class="col-3">
                <br>
                <a href="https://www.linkedin.com/in/kunal-makar-81822b1b3">Kunal Makar</a>
            </div>
        </div>
        <br>
        <br>
        <br>
        




    </div>






    <footer>
        <div class="footer-content">
            <h3 >HALL OF FAME</h3>
            <p>If you have any queries, we are always happy to Help you.</p>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>Copyright &copy;2021 STUDENT DATABASE MANAGEMENT. designed by Hall of Fame</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
</body>
</html>