<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ,shrink-to-fit=no">
    <title>Disclaimer</title>
    <link rel="stylesheet" type="text/css" href="css/Home.css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
      *{
        font-family: 'Noto Sans JP', sans-serif;
      }
      </style>
</head>
<body>
    <section>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="logo"><img src="images/image0.png" alt="logo" width="65" height="50"></div>
            <a class="navbar-brand" href="#"> </a>
            <a class="navbar-brand" href="#">Hall of Fame</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/disc">Disclaimer</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/About">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/tc">T&C</a>
                </li>
              </ul>
            </div>
        </nav>
    </section>
    
    <section>
        <h1 align="center" id="h12"> Disclaimer for Student Information Management System</h1>

        <p id="p12">If you require any more information or have any questions about our site's disclaimer, please feel free to contact us by email at kunalmakar01@gmail.com.</p>

        <h2 id="h13"> 1. Disclaimers for SIM System</h2>

        <p id="p12">All the information on this website - simsystem.com - is published in good faith and for general information purpose only. SIM System does not make any warranties about the completeness, reliability and accuracy of this information. Any action you take upon the information you find on this website (SIM System), is strictly at your own risk. SIM System will not be liable for any losses and/or damages in connection with the use of our website.</p>

        <p id="p12">From our website, you can visit other websites by following hyperlinks to such external sites. While we strive to provide only quality links to useful and ethical websites, we have no control over the content and nature of these sites. These links to other websites do not imply a recommendation for all the content found on these sites. Site owners and content may change without notice and may occur before we have the opportunity to remove a link which may have gone 'bad'.</p>

        <p id="p12">Please be also aware that when you leave our website, other sites may have different privacy policies and terms which are beyond our control. Please be sure to check the Privacy Policies of these sites as well as their "Terms of Service" before engaging in any business or uploading any information. </p>

        <h2 id="h13"> 2. Consent</h2>

        <p id="p12">By using our website, you hereby consent to our disclaimer and agree to its terms.</p>

        <h2 id="h13"> 3. Update</h2>

        <p id="p12">Should we update, amend or make any changes to this document, those changes will be prominently posted here.</p>
    </section>

    <footer>
        <div class="footer-content">
          <h3 >HALL OF FAME</h3>
          <p>If you have any queries, we are always happy to Help you.</p>
          <ul class="socials">
           <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
          </ul>
        </div>
        <div class="footer-bottom">
          <p>Copyright &copy;2021 STUDENT DATABASE MANAGEMENT. designed by Hall of Fame</p>
        </div>
    </footer>
    
  
  
  
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>